{% extends 'base.html' %}

{% block title %}
dashboard
{% endblock title %}

{% block content %}
<div class="container mt-3">
	<h2>Hello {{ current_user.username }}</h2>
	<hr>
	<form action="{{ url_for('views.dashboard') }}" method="post">
		{{ form.csrf_token }}
		{{ form.note.label(class="form-label") }}
		<div class="mb-3">
			{{ form.note(class="form-control") }}
		</div>
		{{ form.submit }}
	</form>
	<div class="container mt-3">
		<a href="{{ url_for('views.dashboard') }}" class="btn btn-success btn-sm mb-3">All Notes</a>
		<a href="/dashboard?role=me" class="btn btn-primary btn-sm mb-3">My Note</a>
		{% for row in notes|batch(4) %}
		<div class="row">
			{% for note in row %}
			<div class="col">
				<div class="card mb-3 border-dark text-dark" style="width: 18rem;">
					<div class="card-header"><strong>@{{ note.owner.username }}</strong></div>
					<div class="card-body">
						<p class="card-text">{{ note.data }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}

	</div>
</div>
{% endblock content %}