{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="container">
	<div class="bg-light p-5 rounded-lg m-3">
		<h1 class="display-4">Post App</h1>
		<p class="lead">
			This is a simple hero unit, a simple jumbotron-style
			component for calling extra attention to featured content or
			information.
		</p>
		<hr class="my-4" />
		<p>
			It uses utility classes for typography and spacing to space
			content out within the larger container.
		</p>
	</div>
	{% if user.is_authenticated %}
		<h1>Login successfully</h1>
	{% else %}
	<div class="row">
		<div class="col-sm-6" style="margin: auto;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem
						ipsum dolor sit, amet consectetur adipisicing elit. Error, quae aliquid dolorem, vel molestiae,
						architecto temporibus iusto maxime facilis beatae ratione accusantium voluptatum? Doloribus
						dolor quos beatae impedit possimus in!</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<form action="{{ url_for('auth.login') }}" method="post" id="form_login">
				{{ form.csrf_token }}
				<div class="border border-success p-4">
					<div class="mb-3">
						<h2>Sign In</h2>
						<hr>
					</div>
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								{% if category == 'invalid_login' %}
									<div class="alert alert-danger" role="alert">
										{{ message }}
									</div>
								{% endif %}
								{% if category == 'logout' %}
									<div class="alert alert-success" role="alert">
										{{ message }}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}
					<div class="form-group w-100">
						<div class="mb-3">
							{{ form.username(class="form-control") }}
						</div>
						<div class="mb-3">
							{{ form.password(class="form-control") }}
						</div>
						{{ form.submit(class="btn btn-primary col-12 mb-3") }}
						<small>Don't have account? <span><a href="{{ url_for('auth.register') }}">Register here</a></span></small>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}